name: Build React and Copy to IIS Folder

on:
  pull_request:
    branches:
      - develop
    types:
      - closed

jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: FrontendTaskManagement/taskmanager
        run: npm install

      - name: Build React app
        working-directory: FrontendTaskManagement/taskmanager
        run: npm run build

      - name: Copy build files to IIS folder
        shell: powershell
        run: |
          if (Test-Path "D:\IIS\TaskManagerFrontend") {
            Remove-Item "D:\IIS\TaskManagerFrontend\*" -Recurse -Force
          }
          else {
            New-Item -ItemType Directory -Path "D:\IIS\TaskManagerFrontend"
          }

          Copy-Item "FrontendTaskManagement\taskmanager\build\*" "D:\IIS\TaskManagerFrontend" -Recurse -Force