name: Deploy to IIS on Develop Merge

on:
  pull_request:
    branches:
      - develop
    types:
      - closed

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # ======================
      # FRONTEND - REACT
      # ======================
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Build React
        run: |
          cd Frontend
          npm install
          npm run build
          xcopy /E /Y /I build D:\IIS\Frontend

      # ======================
     
      # IIS RESTART
      # ======================
      - name: Restart IIS
        run: iisreset
